* {
	padding: 0;
	margin: 0;
	font-family: "Oswald";
}

.background {
	background-color: #a2d2ff;
	height: 100vh;
	padding-top: 1px;
}

h1 {
	text-align: center;
	justify-content: center;
	color: #97d2fb;
}

.display {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.hide {
	display: none;
}

.container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 33% 33% 33%;
	max-width: 300%;
	border-radius: 5px;
}

.tile {
	border: 5px solid #bde0fe;
	color: #ff79db;
	text-align: center;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	font-size: 50px;
	cursor: pointer;
}

.playerX {
	color: #04e762;
}

.playerO {
	color: #dc0073;
}

#reset {
	color: white;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	margin-top: 40px;
	margin-left: 4em;
	margin: auto;
	padding: 8px;
	background-color: #ff3860;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 30px;
}
